.contentwrapper {
	position: relative;
	float:left;
	padding: 0px 10px 0px 10px;
	width: 730px;
	min-height:100px;
}

/* ---------------------------   RESULTS RUBRIKE TOP ----------------------------*/
ul#resulttabs {
		float: left;
		padding: 0px;
		margin: 0px;
		width: 730px;
		height: 30px;
		list-style-type: none;
}
ul#resulttabs li {
		display: inline; 
}

ul#resulttabs span {
		float:left;
		width: 120px;
		height: 16px;
		padding: 7px 0px 7px 0px;
		margin-right: 7px;
		font-size:14px;
		line-height:14px;
		text-align:center;
		background-color: #8696A7;
		color: #FFFFFF;
}

ul#resulttabs span:hover {
		background-color: #072F57;
		color: #FFFFFF;
}
ul#resulttabs span.Current {
		background: #FFFFFF;
		color: #072F57;
}
ul#resulttabs span.First {
		width: 120px;
}
/* ---------------------------   VZOREC ----------------------------*/

.ResultsRubrike {
	position: relative;
	float: left;
	width: 126px;
	height: 26px;
	padding-top: 12px;
	text-align:center;
	background-color: #8696A7;
	margin-right: 7px; 
	/*border-style:solid;
	border-width:2px 0px 0px 1px;
	border-color:#E1E1E1; */
}
.ResultsRubrike:hover {
	background-color: #FFFFFF; 
}
.ResultsRubrikeSelected {
	padding-top: 12px;
	background-color: #FFFFFF; 
	/*border-width:0px 0px 0px 0px;*/
}
.ResultsRubrikeEmpty {
	width: 115px;
	border-width:0px 1px 0px 0px;
}

/* RESULTS CONTENT */
.ResultsTop {
	position: relative;
	float: left;
	text-align:left;
	width: 730px;
	padding: 0px 0px 0px 0px; 
	margin: 0px; 
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
	color: #072F57;	
    font-size: 18px;
	line-height: 40px;
    font-weight: bold;
}
.ResultsSubTop {
	position: relative;
	float: left;
	text-align:center;
	width: 730px;
	padding: 0px 0px 0px 0px; 
	margin: 0px; 
	border-style:none;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
}
.ResultsSubTopLeft {
	float:left;
	width: 530px;
	height: 40px; 
	line-height: 40px;
	padding: 0px 0px 0px 0px;
}
.ResultsSubTopRight {
	float:right;
	text-align:right;
	width: 200px;
	padding: 0px 0px 0px 0px;
}
.ResultsSubTopView {
	float:left;
	width: 60px; 
	height: 30px; 
	line-height: 30px;
	padding: 5px 0px 0px 0px;
}
.ResultsAdTop {
	position: relative;
	float: left;
	background-color:#CFD7DF; 
	width: 728px;
	height: 35px; 
	line-height: 35px;
	padding: 0px 0px 1px 0px; 
	margin: 10px 0px 0px 0px; 
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
}
.ResultsAdTopLeft {
	float:left;
	width: 400px;
	height: 35px; 
	line-height: 35px;
	padding: 0px 0px 0px 5px;
}
.ResultsAdTopRightChangeView {
	float:left;
	width: 60px;
	height: 35px; 
	line-height: 35px;
	padding: 0px 5px 0px 0px;
}
.ResultsAdTopRight {
	float:left;
	width: 313px;
	height: 35px; 
	line-height: 35px;
	padding: 0px 5px 0px 0px;
}
.ResultsAdTopMid {
	float:left;
	width: 253px;
	height: 35px; 
	line-height: 35px;
	padding: 0px 5px 0px 0px;
}
.ResultsAdBottom {
	position: relative;
	float: left;
	background-color:#CFD7DF; 
	width: 728px;
	height: 35px; 
	line-height: 35px;
	padding: 0px 0px 1px 0px; 
	margin: 20px 0px 10px 0px; 
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
}

/* RESULTS LIST VIEW*/
.ResultsAd {
	position: relative;
	float: left;
	/*background-color:#FFFFFF; */
	background-position: 0px 15px;
	background-repeat:repeat-x;
	width: 730px;
	height: 158px;
	padding: 10px 0px 10px 0px; 
	margin: 0px; 
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:#7F9DB9; 
}
.ResultsAd:link {
	background-image: none;
}
.ResultsAd:visited {
	background-image: none;
}
.ResultsAd:hover {
	background-image: none;
	background-color:#E9E9E9; 
}
.ResultsAd:active {
	background-image: none;
	background-color:#E9E9E9; 
}

.ResultsAd:hover .ResultsShowMore, .ResultsAd:focus .ResultsShowMore {
	display: block;
}
/* 
.ResultsAd:hover .BelowButtonBox, .ResultsAd:focus .BelowButtonBox {	
	display: none;																					
	}																			
*/
.ResultsShowMore {
	display: none;
}
.ResultsAdCheck {
	position: relative;
	float: left;
	width: 10px;
	height: 120px;
	padding: 0px 5px 0px 5px; 
	margin: 0px; 
}
.ResultsAdPhoto {
	position: relative;
	background-color:#FFFFFF; 
	float: left;
	width: 160px;
	height: 120px;
	padding: 5px 5px 5px 5px; 
	margin: 0px; 
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
}
/* AD PHOTO CONTAINER*/
.ResultsAdPhotoContainer {
	position: relative;
	background-color:#FFFFFF; 
	float: left;
	width: 170px;
	height: 156px;
	padding: 0px; 
	/*margin: 0px 0px 0px 14px; */
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
}
.ResultsAdPhotoContainer img{
	display: block;
	margin: 0 auto;
	border: none;
	max-width: 160px;
	max-height: 120px;
}
.ResultsAdPhotoTop {
	position: absolute;
    top: 0;
    left: 0;
	width: 160px;
	height: 120px;
	padding: 5px 5px 25px 5px; 
	margin: 0px; 
}
.ResultsAdPhotoTag {
	position: absolute;
    top: 0;
    left: 0;
	z-index: 10;
	width: 40px;
	height: 20px;
	margin: 10px 0px 0px -6px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}
.ResultsHDPhotoTag {
	position: absolute;
    top: 0;
    right: 0;
	z-index: 10;
	width: 20px;
	height: 20px;
	margin: 4px 4px 0px 0px;
	padding: 0px 7px 0px 5px;
	border: 0px;
	color: #FFF;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	background:#000000;
	border: 1px solid #FFF;
}
.ResultsAdPhotoBottom {
	position: absolute;
    top: 0;
    left: 0;
	width: 170px;
	height: 20px;
	margin: 130px 0px 0px 0px;
	padding: 3px 0px 3px 0px;
	background-color:#7F9DB9 ; 
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
	font-size:12px;
	color: #FFFFFF;
}
.ResultsAdPhotoBottom img {
	display: block;
	margin: 0 auto;
}
.ResultsAdPhotoBottom span {
	float:left;
    margin:0 0 0 0px;
	padding: 5px 0px 4px 0px;
	vertical-align:middle;
	border-style:solid;
	border-width:0px;
    height:11px;
    line-height:11px;
}
.ResultsAdPhotoBottom i{
	float:left;
	padding: 5px 7px 4px 7px;
}
.ResultsAdData {
	position: relative;
	float: left;
	text-align:left;
	width: 343px;
	max-width: 48%;
	height: 132px;
	padding: 0px 5px 0px 7px; 
	margin: 0px; 
	border-style:none;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
}
.ResultsAdData ul {
	margin: 0px; 
	height: 64px;
	padding: 0px 5px 0px 5px; 
	list-style-type:none;
	list-style-position:inside;
}
.ResultsAdData li {
	margin: 3px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	line-height: 12px;
	background-image:url(https://www.avto.net/_graphics/bulletmini.gif);
	background-repeat:no-repeat;
	background-position: 0px 3px;
}
.ResultsAdData p {
	position: relative;
	max-width: 350px;
	height: 31px;
	text-align:left;
	padding-left: 5px;
	font-size: 10px; 
	font-style: normal;
    font-weight: normal;
}
.ResultsAdData img {
	border: 0px;
}
.ResultsAdPriceLogo {
	position: relative;
	float: right;
	width: 189px;
	height: 158px;
	padding: 0px 5px 0px 0px; 
	margin: 0px 0px 0px 0px; 
    text-align: center;
	border-style:none;
	border-width:0px 0px 0px 0px;
}
.ResultsAdPrice {
	position: relative;
	float: left;
	width: 170px;
	height: 65px;
	padding: 5px 5px 5px 5px; 
	margin: 0px 0px 5px 0px; 
    text-align: center;
	border-style:dotted;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
	font-size: 18px; 
	font-weight:bold;
	color:#062f57; 
	background-color: #FFFFFF;
}
.ResultsAdPriceGrey {
	color:#7F9DB9; 
}
.ResultsAdPriceRed {
	color:#FF0000; 
}
.ResultsAdPriceAkcija {
	width: 180px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#FF0000; 
	padding: 0px 0px 10px 0px; 
}
.ResultsAdPrice p {
	line-height: 12px;
	text-align:center;
	font-size: 12px; 
	color:#7F9DB9; 
}
.ResultsAdPrice p.Brutto {
	line-height: 14px;
	text-align:center;
	font-size: 14px; 
	color:#7F9DB9; 
}
.ResultsAdPrice p.StaraCena {
	font-size: 18px; 
	line-height: 20px;
	font-weight:bold;
	text-align:center;
	color:#7F9DB9; 
	position: relative;
	width: 110px; 
	margin: 0px 35px 0px 35px;
}
.ResultsAdPrice p.StaraCena:before {
	  position: absolute;
	  content: "";
	  left: 0;
	  top: 50%;
	  right: 0;
	  border-top: 1px solid;
	  border-color: inherit;
	
	  -webkit-transform:rotate(-5deg);
	  -moz-transform:rotate(-5deg);
	  -ms-transform:rotate(-5deg);
	  -o-transform:rotate(-5deg);
	  transform:rotate(-5deg);
 }
 .ResultsAdPrice p.AkcijaCena {
	width: 120px; 
	margin: 5px 30px 5px 30px;
	font-size: 18px; 
	line-height: 20px;
	font-weight:bold;
	text-align:center;
	color:#FF0000; 
}
.ResultsAdPrice p.AkcijaCenaTXT {
	width: 100%; 
	margin: 0px 0px 5px 0px;
	font-size: 12px; 
	line-height: 16px;
	font-weight:bold;
	text-align:center;
	color:#FFFFFF; 
	background-color: #FF0000;
}

.ResultsAdLogo {
	position: relative;
	background-color:#FFFFFF; 
	float: left;
	width: 170px;
	height: 64px;
	line-height: 60px; 
	padding: 5px 5px 5px 5px; 
	margin: 0px;
	border-style:dotted;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
}
.ResultsAdLogo img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	/*margin:auto 25px;*/
	margin: auto;
	vertical-align: middle;
	max-width: 120px;
	max-height: 60px;
}
/* RESULTS THUMBS VIEW*/
.ResultsThumbsAds {
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 730px;
	height: 240px;
	padding: 10px 0px 10px 0px; 
	margin: 0px; 
	border-style:none;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
}
.ResultsThumbsAdContainer {
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 172px;
	height: 228px;
	padding: 10px 0px 10px 0px; 
	margin: 0px; 
	border-style:solid;
	border-width:1px;
	border-color:#7F9DB9; 
}
.ResultsThumbsAdContainer:link{
}
.ResultsThumbsAdContainer:visited{
}
.ResultsThumbsAdContainer:hover{
		background-color:#E6EAEE; 
}
.ResultsThumbsAdContainer:active{
}

.ResultsThumbsAdSpace {
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 11px;
	height: 228px;
	padding: 10px 0px 10px 0px; 
	margin: 0px; 
	border-style:none;
	border-width:0px;
	border-color:#7F9DB9; 
}
.ResultsThumbsAdPhoto {
	position: absolute;
    top: 0;
    left: 0;
	width: 160px;
	height: 120px;
	padding: 5px 6px 5px 6px; 
	margin: 0px; 
}
.ResultsThumbsAdPhotoTag {
	position: absolute;
    top: 0;
    left: 0;
	z-index: 10;
	width: 40px;
	height: 20px;
	margin: 10px 0px 0px -6px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}
.ResultsThumbsAdName {
	position: absolute;
    top: 0;
    left: 0;
	width: 164px;
	height: 40px;
	margin: 130px 0px 0px 0px;
	padding: 4px 4px 4px 4px;
	/*background-color:#062f57 ; */
	background-color:#CFD7DF ; 
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#062f57; 
	font-size:12px;
	color: #000000;
}
.ResultsThumbsAdName a:link {
	color: #000000;
	line-height: 15px;
	font-size: 11px;
    font-style: normal;
    font-weight: strong;
    text-decoration: none;
}
.ResultsThumbsAdName a:visited {
    text-decoration: none;
    font-style: normal;
    font-weight: strong;
    text-decoration: none;
}
.ResultsThumbsAdName a:hover {
    text-decoration: underline;
    font-style: normal;
    font-weight: strong;
}
.ResultsThumbsAdName a:active {
    text-decoration: underline;
    font-style: normal;
    font-weight: strong;
}

.ResultsThumbsAdPhotoBadge {
	position: absolute;
    top: 0;
    left: 0;
	width: 172px;
	height: 21px;
	margin: 152px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
	background-color:#FFFFFF ; 
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
	font-size:12px;
	color: #FFFFFF;
}
.ResultsThumbsAdPhotoBadge span{
	float:left;
    margin:0 0 0 0px;
	padding: 5px 0px 4px 0px;
	vertical-align:middle;
	border-style:solid;
	border-width:0px;
    height:11px;
    line-height:11px;
}
.ResultsThumbsAdPhotoBadge i{
	float:left;
	padding: 5px 7px 4px 7px;
}
.ResultsThumbsAdData {
	position: absolute;
    top: 0;
    left: 0;
	width: 162px;
	height: 15px;
	margin: 175px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	border-style:none;
	border-width:0px;
	border-color:#7F9DB9; 
	font-size:12px;
    font-weight: strong;
	color: #000000;
	/*background-color:#FFFFFF;*/
	
}
.ResultsThumbsAdPrice {
	position: absolute;
	width: 162px;
	height: 40px;
	padding: 5px 5px 5px 5px; 
	margin: 190px 0px 5px 0px; 
    text-align: center;
	border-style:dotted;
	border-width:1px 0px 0px 0px;
	border-color:#7F9DB9; 
	font-size: 17px; 
	font-weight:bold;
	color:#062f57; 
}
.ResultsThumbsAdPrice p {
    text-align: center;
	font-size: 11px; 
	font-weight:normal;
	color:#062f57; 
}
/* RESULTS THUMBS100 VIEW*/
.ResultsThumbs100Ads {
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 730px;
	height: 270px;
	padding: 10px 0px 10px 0px; 
	margin: 0px; 
	border-style:none;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
}
.ResultsThumbs100AdContainer {
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 230px;
	height: 270px;
	padding: 0px 0px 0px 0px; 
	margin: 0px; 
	border-style:solid;
	border-width:1px;
	border-color:#7F9DB9; 
}
.ResultsThumbs100AdContainer:link{
}
.ResultsThumbs100AdContainer:visited{
}
.ResultsThumbs100AdContainer:hover{
	background-color:#f47a20; 
}
.ResultsThumbs100AdContainer:active{
}

.ResultsThumbs100AdSpace {
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 17px;
	height: 270px;
	padding: 10px 0px 10px 0px; 
	margin: 0px; 
	border-style:none;
	border-width:0px;
	border-color:#7F9DB9; 
}

.ResultsThumbs100AdPhoto {
	position: absolute;
    top: 0;
    left: 0;
	width: 220px;
	height: 160px;
	padding: 0px 0px 0px 0px; 
	margin: 5px; 
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
	background-color:#FFFFFF; 
}
.ResultsThumbs100AdPhoto img{
	display: block;
	margin: 0 auto;
	border: none;
	max-width: 220px;
	max-height: 160px;
}

.ResultsThumbs100AdPhotoTag {
	position: absolute;
    top: 0;
    left: 0;
	z-index: 10;
	width: 40px;
	height: 20px;
	margin: 10px 0px 0px -6px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}
.ResultsThumbs100AdName {
	position: absolute;
    top: 0;
    left: 0;
	width: 220px;
	height: 25px;
	margin: 165px 5px 0px 5px;
	padding: 5px 0px 5px 0px;
	/*background-color:#062f57 ;*/
	background-color:#FFFFFF ; 
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
	font-size:12px;
	color: #000000;
}
.ResultsThumbs100AdName a:link {
	color: #000000;
	line-height: 13px;
	font-size: 12px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.ResultsThumbs100AdName a:visited {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.ResultsThumbs100AdName a:hover {
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}
.ResultsThumbs100AdName a:active {
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}

.ResultsThumbs100AdPhotoBadge {
	position: absolute;
    top: 0;
    left: 0;
	width: 220px;
	height: 20px;
	margin: 145px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
	font-size:12px;
	color: #FFFFFF;
	background-color:#7F9DB9;  
}
.ResultsThumbs100AdPhotoBadge span{
	float:right;
    margin:0 0 0 0px;
	padding: 5px 7px 4px 0px;
	vertical-align:middle;
	border-style:solid;
	border-width:0px;
    height:11px;
    line-height:11px;
}
.ResultsThumbs100AdPhotoBadge i{
	float:left;
	padding: 4px 7px 4px 7px;
}
.ResultsThumbs100AdData {
	position: absolute;
    top: 0;
    left: 0;
	width: 210px;
	height: 13px;
	line-height: 13px;
	margin: 242px 5px 0px 5px;
	padding: 5px;
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#7F9DB9; 
	font-size:12px;
    font-weight: strong;
	color: #000000;
	background-color:#CFD8DF;
}
.ResultsThumbs100AdPrice {
	position: absolute;
	width: 210px;
	height: 32px;
	margin: 200px 5px 0px 5px; 
	padding: 5px 5px 5px 5px; 
    text-align: center;
	border-style:dotted;
	border-width:1px 0px 0px 0px;
	border-color:#7F9DB9; 
	font-size: 17px; 
	font-weight:bold;
	color:#062f57; 
	background-color:#FFFFFF;
}
.ResultsThumbs100AdPrice p {
	line-height: 12px;
	font-weight:bold;
	text-align:center;
	font-size: 12px; 
	color:#7F9DB9; 
}

.ResultsThumbs100AdPrice p.Brutto {
	line-height: 14px;
	font-weight:bold;
	text-align:center;
	font-size: 14px; 
	color:#7F9DB9; 
}

/* BADGE BACK */
.ResultsAdPhotoBottomBadge {
	background-color:#7F9DB9;  
}
.ResultsAdPhotoBlackBadge {
	background-color:#000000;  
}

.ResultsAdPhotoBottomTop {
	background-color:#FF0000;  
}

/* RESULTS-BOTTOM */
.ResultsBtm {
	position: relative;
	float: left;
	text-align:center;
	width: 730px;
	padding: 0px 0px 0px 0px; 
	margin: 10px 0px 0px 0px; 
	border-style:none;
}
.ResultsBtmLeft {
	float:left;
	width: 190px;
	height: 30px; 
	text-align: left;
	padding: 0px 0px 0px 0px;
}
.ResultsBtmRight {
	float:left;
	width: 540px;
	min-height: 30px; 
	text-align: left;
	padding: 0px 0px 10px 0px;
}

.ResultsLine {
	float:left;
	width: 730px;
	height: 1px;
	padding: 0px; 
	margin: 0px; 
	background-color:#7F9DB9;
}
/* RESULTS-LEGEND */
.ResultsLegend {
	position: relative;
	float: left;
	text-align:center;
	width: 944px;
	padding: 0px 0px 0px 0px; 
	margin: 14px; 
	border-style:none;
	text-align:left;
}
.ResultsLegendLeft {
	float:left;
	width: 200px;
	height: 30px; 
	text-align: right;
	padding: 0px 14px 7px 0px;
}
.ResultsLegendRight {
	float:left;
	width: 730px;
	min-height: 30px; 
	text-align: left;
	padding: 0px 0px 7px 0px;
}

.naslovB18 {
    COLOR: #072F57;	
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 18px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold
}
/* TOP PONUDBA */
.TopPonudba {
	position: relative;
	float: left;
	text-align:left;
	width: 340px;
	height: 123px;
	padding: 7px; 
	margin: 0px; 
	background-color:#CFD7DF;
	border:1px solid #7F9DB9; 
}
.TopPonudbaTXT {
	position: relative;
	float: left;
	text-align:left;
	width: 20px;
	height: 128px;
}
.TopPonudbaPhoto {
	position: relative;
	float: left;
	text-align:left;
	width: 160px;
	height: 120px;
	border: 1px solid #000000;
}
.TopPonudbaDataH1 {
	position: relative;
	float: left;
	text-align:left;
	max-width: 148px;
	height: 28px;
	padding: 0px 0px 0px 4px; 
	overflow: hidden;
}
.TopPonudbaData {
	position: relative;
	float: left;
	text-align:left;
	width: 148px;
	height: 80px;
	padding: 0px 0px 0px 5px; 
	margin: 0px; 
	border-style:none;
	border-width:0px 0px 0px 0px;
}
.TopPonudbaPrice {
	position: relative;
	float: left;
	text-align:right;
	width: 148px;
	height: 15px;
}