/*------------------------------ AD MENU BOX --------------------------------*/
.AdMenuBoxnaziv {
	position: relative;
	float: left;
	background-color:#062f57; 
	width: 198px;
	height: 19px;
	padding: 8px 0px 8px 0px; 
	margin: 10px 0px 0px 0px; 
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#062f57; 
	color: #cfd7df;
	font-size: 14px; 
	/*font-style:italic;*/
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	line-height: 19px;
	text-align:center;
	/* ROUNDED BORDER */
	border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	behavior: url(https://www.avto.net/_css/PIE.htc);
}
.AdMenuBoxnaziv:after{ /*arrow added to headernaziv DIV*/
	z-index: 1000;
	content:'';
	position:absolute;
	top:100%; /*should be set to 100% */
	left:90px;
	width:0;
	height:0;
	border-color: #062f57 transparent transparent transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 9px;
}

/*------------------------------ AD TOP --------------------------------*/
.AdDataNaslov {
	width: 952px;;
	height: 80px;
	position: relative;
	vertical-align:middle;
	min-height:60px; 
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 5px 10px; 
	float:left;  
	border:none;
    FONT-SIZE: 16px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
	color:#000000; 
}
.AdDataLogo {
	 float: left;
	 width: 200px; 
	 height:60px; 
	 padding-right: 21px;
}
.AdDataAvto {
	float: left; 
	width: 530px; 
	text-align: left;
	height:60px; 
	vertical-align: middle;
	padding: 0px 10px 0px 0px;
    FONT-SIZE: 15px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
	COLOR: #072F57;	
	white-space: nowrap;
	overflow: hidden;
}
.AdDataAvtoTOP {
	display: inline-block;
    vertical-align: middle;
    white-space: normal;
	FONT-SIZE: 15px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
	COLOR: #072F57;	
}
.AdDataAvtoTOPAVTO {
	FONT-SIZE: 15px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}
.AdDataAvtoTOPMOTOR {
	FONT-SIZE: 11px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
}
.AdDataAvtoHELPER {
	display: inline-block;
    vertical-align: middle;
    height:100%;
}
.AdDataCena {
	float: left; 
	width: 180px;
	padding-right: 10px; 
	min-height:60px;
	display:block;
	vertical-align:middle;
	text-align: right;
}
.AdDataCenaTOP {
	width: 190px; 
	height:30px; 
	display:block;
	FONT-SIZE: 27px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}
.AdDataCena ul { 
	position: relative;
	width: 100%;  
	max-width: 190px;
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}
.AdDataCena ul li { 
	position: relative;
	width: 190px;
	height: 14px; 
	FONT-SIZE: 11px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	line-height: 14px; 
}
.AdDataStaraCena {
	font-size:12px;
	color: #7F9DB9;
}
.AdDataStaraCena span {
	font-size:27px;
	color: #7F9DB9;
	position: relative;
}
.AdDataStaraCena span:before {
	  position: absolute;
	  content: "";
	  left: 0;
	  top: 50%;
	  right: 0;
	  border-top: 1px solid;
	  border-color: inherit;
	
	  -webkit-transform:rotate(-5deg);
	  -moz-transform:rotate(-5deg);
	  -ms-transform:rotate(-5deg);
	  -o-transform:rotate(-5deg);
	  transform:rotate(-5deg);
}
.AdDataAkcijaCena {
	color: #FF0000;
	FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}
.AdDataAkcijaCena span{
	color: #FF0000;
	FONT-SIZE: 27px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}

/*------------------------------ AD TABS --------------------------------*/
.AdDataTabs {
	width: 730px;
	height: 35px;
	position: relative;
	vertical-align:middle;
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 0px 0px; 
	float:left;  
	border:none;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	color:#000000; 
}
.AdDataTab { 
	position: relative;
	float: left;
	background-color:#062F57;
	color: #cfd7df;
	font-size: 14px; 
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	line-height: 30px;
	text-align:center;
	width: 105px;
	height: 30px;
	margin: 0px 0px 0px 1px;
	padding: 2px 0px 3px 0px;
	border-style:solid;
	border-width:1px 1px 0px 1px;
	border-color:#062F57; 
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-radius: 6px 6px 0px 0px;
	behavior: url(https://www.avto.net/_css/PIE.htc);
}
.AdDataTab:hover{
	border-color: #CFD7DF; 
	background-color:#CFD7DF;
	color: #062F57;
	padding: 0px 0px 0px 0px; 
	margin-top: 5px; 
	FONT-WEIGHT: bold;
}
.AdDataEmptyTab { 
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 190px;
	height: 25px;
	line-height: 30px;
	padding: 0px 0px 0px 0px; 
	margin-top: 10px; 
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:#CFD7DF; 
}
.AdDataLastTab { 
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 190px;
	height: 20px;
	padding: 10px 0px 0px 0px; 
	margin-top: 5px; 
	border-style:solid;
	border-width:0px;
	border-color:#7F9DB9; 
}
.CurrentTab { 
    FONT-WEIGHT: bold;
	background-image:none;
	background-color:#FFFFFF; 
	border-color: #CFD7DF; 
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 3px 0px;
	z-index: 10;
	color: #062F57;
}
.CurrentTab:hover { 
    background-color:#FFFFFF; 
}
.WizTab { 
	background-image:url( https://www.avto.net/_graphics/tab_wiz.png);
}
.AdDataSubTabs {
	width: 730px;
	height: 10px;
	border-width: 1px 1px 1px 0px;
	border-style:solid;
	border-color:#CFD7DF; 
}
/*------------------------------ AD PHOTOS --------------------------------*/
.AdPhotoWrapper {
	width: 730px;;
	min-height: 80px;
	position: relative;
	vertical-align:middle;
	min-height:60px; 
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px; 
	float:left;  
	border-style:solid;
	border-width:0px 1px 0px 1px;
	border-color:#CFD7DF; 
}
.imagegallery {
	BORDER: 1px solid; 
	BORDER-COLOR: #7F9DB9;
	margin: 0px 0px 4px 0px;
}

#loadarea {
	 width:530px;
	 BORDER: 1px solid; 
	 BORDER-COLOR: #7F9DB9;
}
#loadarea img {
	 max-width:530px;
	 max-height:400px;
	 /*display: block;*/
	 /*margin-right: auto;*/
	 /*margin-left: auto;*/
}

/*-------------------------------- AD DATA --------------------------------*/
.AdWrapper {
	width: 710px;;
	min-height: 80px;
	position: relative;
	vertical-align:middle;
	min-height:60px; 
	padding: 10px 10px 0px 10px;
	margin: 0px 0px 10px 0px; 
	float:left;  
	border-style:solid;
	border-width:0px 1px 1px 1px;
	border-color:#CFD7DF; 
}
/*-------------------------------- AD TEHNICAL DATA --------------------------------*/
.AdData {
	width: 530px;
	min-height: 20px;
	position: relative;
	margin: 0px; 
	padding: 2px 0px 2px 0px;
	float:left;  
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	text-align:left;
	background-color: #FFFFFF;
}
.AdDataEmpty {
	width: 175px;
	min-height: 10px;
	position: relative;
	margin: 0px; 
	padding: 0px;
	float:left;  
	background-color:#0F0;
}
.AdDataHead {
	width: 508px;
	height: 18px;
	line-height: 16px;
	position: relative;
	margin: 10px 0px 0px 0px; 
	padding: 5px 10px 5px 10px;
	float:left;  
	text-align:left;
	background-color: #CFD7DF;
	border-style:solid;
	border-width:1px;
	border-color:#7F9DB9; 
    COLOR: #072F57;	
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold
}
.AdDataLeft {
	width: 130px;
	height: 18px;
	line-height: 18px;
	position: relative;
	float: left;
	text-align:right;
	margin: 0px; 
	padding: 2px 0px 0px 0px;
	float:left;  
    FONT-WEIGHT: normal;
}
.AdDataRight {
	width: 395px;
	height: 18px;
	line-height: 18px;
	float: left;
	overflow:hidden;
	position: relative;
	margin: 0px; 
	padding: 2px 0px 0px 5px;
	float:left;  
    FONT-WEIGHT: bold;
	text-align:left;
}
.AdEQLeft {
	width: 130px;
	height: 18px;
	line-height: 18px;
	position: relative;
	float: left;
	text-align:right;
	margin: 0px; 
	padding: 2px 0px 0px 0px;
	float:left;  
	font-size: 18px;
	color: #CFD7DF;
    FONT-WEIGHT: bold;
}
.AdEQRightWrapper {
	width: 395px;
	float: left;
	overflow:hidden;
	position: relative;
	margin: 0px; 
	padding: 0px 0px 0px 5px;
    FONT-WEIGHT: normal;
	text-align:left;
}
.AdEQRight {
	width: 390px;
	height: 18px;
	line-height: 18px;
	float: left;
	overflow:hidden;
	position: relative;
	margin: 0px; 
	padding: 2px 0px 0px 0px;
	float:left;  
    FONT-WEIGHT: normal;
	text-align:left;
}
.AdEQtext {
	position: relative;
	float: left;
	background-color:#FFFFFF; 
	width: 570px;
	overflow:hidden;
	padding: 14px 0px 0px 137px;
	margin: 0px; 
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#CFD7DF; 
	text-align:justify;
}
.AdEQtext img{
	max-width: 570px;
}
/*-------------------------------- AD PRICE --------------------------------*/
.AdPrice {
	width: 730px;;
	height: 100px;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 100px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
	color:#000000; 
}
.AdPrice0 {
    FONT-SIZE: 50px;
}
.AdPriceRent {
	width: 730px;;
	height: 20px;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 16px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
	color:#000000; 
}
.AdPriceComment {
	width: 730px;;
	height: 20px;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 16px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
	color:#000000; 
}
/*-------------------------------- AD EUROTAX --------------------------------*/
.AdEurotax {
	width: 350px;;
	height: 80px;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 15px 137px; 
	float:left;  
	color:#000000; 
}
/*-------------------------------- AD NEW CARS CO2 TEXT --------------------------------*/
.AdButtonsDiv {
	width: 710px;;
	height: 20px;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 5px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	color:#000000; 
}
.Ad1ButtonDiv {
	width: 168px;;
	height: 20px;
	position: relative;
	padding: 0px 7px 0px 0px;
	margin: 0px 0px 0px 0px; 
	float:left;  
	border:none;
}
/*-------------------------------- AD CONTACTS--------------------------------*/
.AdContacts {
	width: 728px;
	min-height: 20px;
	background-color:#CFD7DF;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 14px 0px; 
	float:left;  
	border-width: 1px 1px 1px 1px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	color:#000000; 
}
.AdContactData {
	width: 530px;
	min-height: 20px;
	background-color:#CFD7DF;
	position: relative;
	vertical-align:top;
	text-align:center;
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 10px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	color:#000000; 
}
.AdContactLogo {
	width: 180px;
	min-height: 95px;
	background-color:#FFFFFF;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 45px 0px 10px 0px;
	margin: 10px 0px 10px 0px; 
	float:left;  
	border-width: 1px 1px 1px 1px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
}
.AdContactLogoPrivat {
	width: 180px;
	min-height: 25px;
	background-color:#FFFFFF;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 15px 0px 10px 0px;
	margin: 10px 0px 10px 0px; 
	float:left;  
	border-width: 1px 1px 1px 1px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#7F9DB9; 
}
.AdContactDataLeft {
	width: 90px;
	min-height: 15px;
	position: relative;
	vertical-align:middle;
	text-align:right;
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 5px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	color:#000000; 
}
.AdContactDataRight {
	width: 430px;
	min-height: 15px;
	position: relative;
	text-align:left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
	color:#000000; 
}
.AdPhone {
	width: 100%;
	min-height: 15px;
	position: relative;
	text-align:left;
	float:left;  
}
.AdContactInnerDIv {
	width: 710px;;
	min-height: 20px;
	position: relative;
	vertical-align:middle;
	text-align:center;
	padding: 5px 9px 5px 9px;
	margin: 5px 0px 5px 0px; 
	float:left;  
	border:none;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
	color:#000000; 
}
.AdContactsBorderLine {
	position: relative;
	float: left;
	width: 100%;
	height: 1px;
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:#7F9DB9;
}